.App {
    position: relative;
    color: #333;
    border: 1px solid #000;
    min-height: 100%;
    min-width: 100%;
    background-color: #f9f9f9;
}

.clear-fix:after {
    content: '';
    display: block;
    clear: both;
}

.App aside {
   border: 1px solid #f9f9f9;
    width: 25%;
    height: 100%;
    background-color: #f9f9f9;
}

.App aside .head {
    position: relative;
    left: 18px;
    font-family: 楷体;
}

.App aside .head a {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 20px;
    background: rgb(254,231,154);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee79a', endColorstr='#fec151',GradientType=0 );
    border-radius: 30px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    border: 1px solid #D69E31;
    color: #85592e;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    width: 80px;
}
.App aside .head a:hover{
    background: rgb(254,193,81);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec151', endColorstr='#fee79a',GradientType=0 );
}

.App aside .groups-wrap {
    margin-left: 10px;
    margin-right: 10px;
}

.App aside .groups-wrap .groups li {
    background-color: #ffd734;
    margin-top: 10px;
    position:relative;
    color: #fff;
    display:block;
    text-decoration:none;
    border-radius:5px;
    border:solid 1px #ffd734;
    padding:10px 30px;
    transition: all 0.1s;
    box-shadow: 0px 9px 0px #d9a466;
}

.App main {
    position: absolute;
    top: 0;
    left: 25%;
    min-width: 75%;
    min-height: 100%;
    padding: 2px 5px;
    font-size: 2rem;
    background: url('https://i.loli.net/2017/09/23/59c65bacdaa99.jpg') no-repeat center;
    background-size: cover;

}
.App main>.title{
 color: #faffdd;
}

