.TodoItem {
    padding: .5em;
    display: flex;
    align-items: center;
}

.TodoItem > .title {
    font-size: 18px;
    flex-grow: 1;
    padding: 0 .5em;
}

.TodoItem .check {
    width: 28px;
    height: 28px;
    position: relative;
    margin: 20px auto;
    background: #f8ff34;
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    box-shadow: inset 0px 1px 1px white;
}

.TodoItem .button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    line-height: 30px;
    text-align: center;
}




